/* Global */

body {
  margin: 0;
  padding: 0;
}

.toppnav {
  background-color: thistle;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: -16px;
}

.toppnav > img {
  width: 15%;
  margin-left: 30px;
}

.toppnav > i.fas {
  color: white;
  font-size: 120%;
  float: right;
  padding-right: 30px;
  margin-top: 5%;
}

.bottomnav {
  background-color: teal;
  text-align: center;
}

.bottomnav > ul li {
  display: inline;
  color: white;
}
