/* Global */

body {
  margin: 0;
  padding: 0;
}

.toppnav {
    background-image: url(/images/texture2.jpg);
    background-size: cover;
  background-color: #e6e6e6;
  padding-bottom: 5px;
  padding-top: 10px;
  word-spacing: 9vw;
}

.toppnav > img {
  width: 29vw;
  margin-left: 4vw;
}

.toppnav > i.fas {
  color: #063e4b;
  display: inline-block;
  position: relative;
  font-size: 6vw;
  bottom: 3vw;
  left: 17vw;
}

.bottomnav {
  background-color: #144a57;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
  text-align: center;

}

.bottomnav > ul li {
  padding-right: 10vw;
  display: inline;
  color: white;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 800px) {

  }
}
