/* Global */

body {
  margin: 0;
  padding: 0;
}

.toppnav {
    background-image: url(/images/texture2.jpg);
    background-size: cover;
  background-color: #e6e6e6;
  padding-top: 10px;
  padding-bottom: 5px;
}

.toppnav > img {
  width: 30vw;
  margin-left: 30px;
}

.toppnav > i.fas {
  color: #063e4b;
  display: inline-block;
  position: relative;
  font-size: 6vw;
  padding-right: 6vw;
  left: 30vw;
}

.search {
    display: inline-block;
}

.search > i.fas {
    color: #063e4b;
    display: inline-block;
    position: relative;
    font-size: 6vw;
    padding-right: 6vw;
    left: 30vw;

}

.toppnav input[type=text] {
    padding: 0px;
    width: 0vw;
    border: none;
    font-size: 17px;
}

.toppnav input[type=text]:focus {
    width: 100%
}

/*
.toppnav input[type=text] {
    padding: 6px;
    width: 0vw;
    border: none;
    font-size: 17px;
}*/

.bottomnav {
  background-color: #144a57;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  text-align: center;

}

.bottomnav > ul li {
  display: inline;
  color: white;
  font-size: 4vw;
  padding-right: 4vw;
  font-family: Arial, Helvetica, sans-serif;

}

@media only screen and (min-width: 800px) {

  }
}
